@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
/*SECCION 1*/
.sect {
  display: flex;
  height: auto;
  background-color: rgb(171, 175, 175);
  justify-content: center;
  align-items: center;
}

/*movil*/
/*CONTENEDOR*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding-top: 12em;
}

.card {
  position: relative;
  flex-direction: column;
  display: flex;
  width: 300px;
  background-color: rgb(184, 184, 132) !important;
  font-size: 11px;
}

.imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
  overflow: hidden;
  width: 100%;
}
.imgBx img {
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0;
  color: black;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 90px;
    padding: 12em;
    max-width: 70%;
  }
  .card {
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 390px;
    height: 270px;
    background-color: red;
    font-size: 0.8em;
  }

  .card:hover .imgBx {
    width: 170px;
    height: 100px;
    left: -70px;
    top: calc(60% - 80px);
  }

  .content h3,
  p,
  a {
    text-align: start;
    margin-bottom: 20px;
  }

  .imgBx {
    top: 0;
    left: 0;
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    z-index: 3;
    overflow: hidden;
  }

  .content {
    position: absolute;
    right: 0;
    width: calc(100% - 90px);
    height: 100%;
    padding: 30px;
    color: black;
    margin-top: 50px;
  }

  .imgBx img {
    width: 390px;
  }
}

@media screen and (min-width: 1450px) {
  .sect {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    padding: 12em;
    max-width: 70%;
  }
}
